{% extends "base.html" %}

{% block content %}
<div class="project">
    <form action="/project/do/{{data['operation']}}/{{data['floor'] or ''}}" method="post">
        <div class="project_title">Configure a room</div>
        <div>
            <table>
                <tr>
                    <td>Room ID</td>
                    <td><input name="room_id" readonly type="text" value="{{data['room'].id}}"></td>
                </tr>
                <tr>
                    <td>Room Type</td>
                    <td>
                        {% if data['operation']=='edit'%}
                        <input name="room_type" readonly type="text" value="{{data['room'].type}}">
                        {% else %}
                        <select name="room_type" id="type_select" onchange="onChangeRoomType(this)">
                            <option value="bedroom">Bed Room</option>
                            <option value="closet">Closet</option>
                            <option value="kitchen">Kitchen</option>
                            <option value="dinning_room">Dinning Room</option>
                            <option value="family_room">Family Room</option>
                            <option value="living_room">Living Room</option>
                            <option value="library">Library</option>
                            <option value="washroom">Washroom</option>
                            <option value="laundry">Laundry</option>
                        </select>
                        {% endif %}
                </tr>
                <tr>
                    <td>Name</td>
                    <td><input name="room_name" type="text" value="{{data['room'].name}}"></td>
                </tr>
                <tr>
                    <td>Width</td>
                    <td><input name="room_width" type="text" value="{{data['room'].width}}"></td>
                </tr>
                <tr>
                    <td>Length</td>
                    <td><input name="room_length" type="text" value="{{data['room'].length}}"></td>
                </tr>
                <tr>
                    <td>Height</td>
                    <td><input name="room_height" type="text" value="{{data['room'].height}}"></td>
                </tr>
            </table><br><br>

            {% if data['room'].type!='washroom'%}
            <div id="room_panel" >
            {% else %}
            <div id="room_panel" style="display:none">
            {% endif %}
                <div>
                    <span class="material_title">Wall</span>
                    <input name="wall" type="text" value="{{data['room'].wall}}">
                    <br>
                    <div>
                        {% for mat in data['materials']['room']['wall'] %}
                        <div class="material_selection"
                             onclick="chooseMaterial('wall', this)"
                             prodcode="{{mat.code}}">
                            <table cellpadding="0" cellspacing="0" border="0">
                                <tr>
                                    <td>
                                        <img class="material_pic" src="{{url_for('static',filename='img/'+mat.picture)}}">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tp_title">
                                        {{mat.name}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tp_text">
                                        {{mat.description}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <br/>
                <br/>

                <div>
                    <span class="material_title">Baseboard</span>
                    <input name="baseboard" type="text" value="{{data['room'].baseboard}}">
                    <br>
                    <div>
                        {% for mat in data['materials']['room']['baseboard'] %}
                        <div class="material_selection"
                             onclick="chooseMaterial('wall', this)"
                             prodcode="{{mat.code}}">
                            <table cellpadding="0" cellspacing="0" border="0">
                                <tr>
                                    <td>
                                        <img class="material_pic" src="{{url_for('static',filename='img/'+mat.picture)}}">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tp_title">
                                        {{mat.name}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tp_text">
                                        {{mat.description}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <br/>
                <br/>
            </div>

            {% if data['room'].type=='washroom'  %}
            <div id="washroom_panel" >
            {% else %}
            <div id="washroom_panel" style="display:none">
            {% endif %}
                <div>
                    <span class="material_title">Wall</span>
                    <input name="w_wall" type="text" value="{{data['room'].wall}}">
                    <br>
                    <div>
                        {% for mat in data['materials']['washroom']['wall'] %}
                        <div class="material_selection"
                             onclick="chooseMaterial('wall', this)"
                             prodcode="{{mat.code}}">
                            <table cellpadding="0" cellspacing="0" border="0">
                                <tr>
                                    <td>
                                        <img class="material_pic" src="{{url_for('static',filename='img/'+mat.picture)}}">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tp_title">
                                        {{mat.name}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tp_text">
                                        {{mat.description}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <br/>
                <br/>

                <div>
                    <span class="material_title">Baseboard</span>
                    <input name="w_baseboard" type="text" value="{{data['room'].baseboard}}">
                    <br>
                    <div>
                        {% for mat in data['materials']['washroom']['baseboard'] %}
                        <div class="material_selection"
                             onclick="chooseMaterial('wall', this)"
                             prodcode="{{mat.code}}">
                            <table cellpadding="0" cellspacing="0" border="0">
                                <tr>
                                    <td>
                                        <img class="material_pic" src="{{url_for('static',filename='img/'+mat.picture)}}">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tp_title">
                                        {{mat.name}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tp_text">
                                        {{mat.description}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <br>
                <br>


                <div>
                    <span class="material_title">Vanity</span>
                    <input name="w_vanity" type="text" value="{{data['room'].vanity}}">
                    <br>
                    <div>
                        {% for mat in data['materials']['washroom']['vanity'] %}
                        <div class="material_selection"
                             onclick="chooseMaterial('vanity', this)"
                             prodcode="{{mat.code}}">
                            <table cellpadding="0" cellspacing="0" border="0">
                                <tr>
                                    <td>
                                        <img class="material_pic" src="{{url_for('static',filename='img/'+mat.picture)}}">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tp_title">
                                        {{mat.name}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tp_text">
                                        {{mat.description}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <br>
                <br>
                <div>
                    <span class="material_title">Toilet</span>
                    <input name="w_toilet" type="text" value="{{data['room'].toilet or ''}}">
                    <br>
                    <div>
                        {% for mat in data['materials']['washroom']['toilet'] %}
                        <div class="material_selection"
                             onclick="chooseMaterial('toilet', this)"
                             prodcode="{{mat.code}}">
                            <table cellpadding="0" cellspacing="0" border="0">
                                <tr>
                                    <td>
                                        <img class="material_pic" src="{{url_for('static',filename='img/'+mat.picture)}}">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tp_title">
                                        {{mat.name}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tp_text">
                                        {{mat.description}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <br>
                <br>

                <div>
                    <span class="material_title">Shower</span>
                    <input name="w_shower" type="text" value="{{data['room'].shower or ''}}">
                    <br>
                    <div>
                        {% for mat in data["materials"]['washroom']['shower'] %}
                        <div class="material_selection"
                             onclick="chooseMaterial('shower', this)"
                             prodcode="{{mat.code}}">
                            <table cellpadding="0" cellspacing="0" border="0">
                                <tr>
                                    <td>
                                        <img class="material_pic" src="{{url_for('static',filename='img/'+mat.picture)}}">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tp_title">
                                        {{mat.name}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tp_text">
                                        {{mat.description}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <br>
                <br>

                <div>
                    <span class="material_title">Bathtub</span>
                    <input name="w_bathtub" type="text" value="{{data['room'].bathtub or ''}}">
                    <br>
                    <div>
                        {% for mat in data['materials']['washroom']['bathtub'] %}
                        <div class="material_selection"
                             onclick="chooseMaterial('bathtub', this)"
                             prodcode="{{mat.code}}">
                            <table cellpadding="0" cellspacing="0" border="0">
                                <tr>
                                    <td>
                                        <img class="material_pic" src="{{url_for('static',filename='img/'+mat.picture)}}">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tp_title">
                                        {{mat.name}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tp_text">
                                        {{mat.description}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <br>
                <br>
                <div>
                    <span class="material_title">Faucet</span>
                    <input name="w_faucet" type="text" value="{{data['room'].faucet or ''}}">
                    <br>
                    <div>
                        {% for mat in data['materials']['washroom']['faucet'] %}
                        <div class="material_selection"
                             onclick="chooseMaterial('faucet', this)"
                             prodcode="{{mat.code}}">
                            <table cellpadding="0" cellspacing="0" border="0">
                                <tr>
                                    <td>
                                        <img class="material_pic" src="{{url_for('static',filename='img/'+mat.picture)}}">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tp_title">
                                        {{mat.name}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tp_text">
                                        {{mat.description}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                        {% endfor %}
                    </div>
                </div>

            </div>

            {% if data['room'].type=='laundry'  %}
            <div id="laundry_panel" >
            {% else %}
            <div id="laundry_panel" style="display:none">
            {% endif %}
                <div>
                    <span class="material_title">Water Tub</span>
                    <input name="l_watertub" type="text" value="{{data['room'].watertub or ''}}">
                    <br>
                    <div>
                        {% for mat in data['materials']['laundry']['watertub'] %}
                        <div class="material_selection"
                             onclick="chooseMaterial('watertub', this)"
                             prodcode="{{mat.code}}">
                            <table cellpadding="0" cellspacing="0" border="0">
                                <tr>
                                    <td>
                                        <img class="material_pic" src="{{url_for('static',filename='img/'+mat.picture)}}">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tp_title">
                                        {{mat.name}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tp_text">
                                        {{mat.description}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <br/>
            <br/>

            {% if data['room'].type=='kitchen'  %}
            <div id="kitchen_panel" >
            {% else %}
            <div id="kitchen_panel" style="display:none">
            {% endif %}
                <div>
                    <span class="material_title">Sink</span>
                    <input name="k_watertub" type="text" value="{{data['room'].watertub or ''}}">
                    <br>
                    <div>
                        {% for mat in data['materials']['kitchen']['watertub'] %}
                        <div class="material_selection"
                             onclick="chooseMaterial('watertub', this)"
                             prodcode="{{mat.code}}">
                            <table cellpadding="0" cellspacing="0" border="0">
                                <tr>
                                    <td>
                                        <img class="material_pic" src="{{url_for('static',filename='img/'+mat.picture)}}">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tp_title">
                                        {{mat.name}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tp_text">
                                        {{mat.description}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <br/>
                <br/>
                <div>
                    <span class="material_title">Faucet</span>
                    <input name="k_faucet" type="text" value="{{data['room'].faucet or ''}}">
                    <br>
                    <div>
                        {% for mat in data['materials']['kitchen']['faucet'] %}
                        <div class="material_selection"
                             onclick="chooseMaterial('faucet', this)"
                             prodcode="{{mat.code}}">
                            <table cellpadding="0" cellspacing="0" border="0">
                                <tr>
                                    <td>
                                        <img class="material_pic" src="{{url_for('static',filename='img/'+mat.picture)}}">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tp_title">
                                        {{mat.name}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tp_text">
                                        {{mat.description}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <br/>
                <br/>

                <div>
                    <span class="material_title">Range Hood</span>
                    <input name="k_rangehood" type="text" value="{{data['room'].rangehood or ''}}">
                    <br>
                    <div>
                        {% for mat in data['materials']['kitchen']['rangehood'] %}
                        <div class="material_selection"
                             onclick="chooseMaterial('rangehood', this)"
                             prodcode="{{mat.code}}">
                            <table cellpadding="0" cellspacing="0" border="0">
                                <tr>
                                    <td>
                                        <img class="material_pic" src="{{url_for('static',filename='img/'+mat.picture)}}">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tp_title">
                                        {{mat.name}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tp_text">
                                        {{mat.description}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                        {% endfor %}
                    </div>
                </div>



            </div>


            <input type="submit">

        </div>
    </form>
</div>

{% endblock%}