{% extends "base.html" %}

{% block content %}
    <div class = "select_page" >
        
            <div class="select_page_desc">
                {{ data["description"] or '' }}
            </div>
            <div>
                {% for option in data["selections"] %}
                <a href="/wizard/{{option['link']}}">
                    <div class="select_option">
                        <div>
                            <img src="{{ url_for('static', filename=option['img']) }}">
                        </div>
                        <div class="select_option_name">
                            {{ option["name"] or '' }}
                        </div>
                        <div class="select_option_desc">
                            {{ option["description"] or '' }}
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        
    </div>
{% endblock %}